.LeftBar {
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #121212;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    font-family: 'Lato'
}

.list-header {
    text-align: left;
    padding-left: 0.5em;
}

.list-container > a {
    justify-content: left;
    display: flex;
    outline: 0;
}

.bar-icon {
    height: 1.5em;
    margin-right: 0.5em;
}