.AddUnitForm {
    background-color: rgb(231, 229, 229);
    position: absolute;
    width: 20em;
    height: 24em;
    left: 0; 
    right: 0;
    top: 20%; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.date-picker {
    width: 100%;
}