.Table {
    color: #263238;
    margin: 0 auto;
    margin-bottom: 1em !important; 
    margin-top: 1em !important; 
    background-color: #B0BEC5;
    width: 50%;
    border: 0.1em solid #26323800;
    
    transition-duration: 0.5s;
}

.Table:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Table>button {
    width: 100%;
    border-radius: 0px;
    height: 3em;
}