body {
  background-color: #1b1b1b;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#arrow-standard:hover {
  color: #1a237e
}

figcaption {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  outline: none;
}

a {
  text-decoration: none !important;
  border-bottom: 1px solid rgba(71, 71, 71, 0.24);
}

.button--delete-global {
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  outline: none;
}

.button--edit-global {
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  outline: none;
}

.chartjs-render-monitor {
  margin-top: 0
}

.date-picker > input {
  text-align: center;
}

.deleted-unit-info {
  color: rgb(230, 59, 59);
}

.edit-icon {
  width: 2em;
  height: 2em;
  margin-top: 1em;
  color: rgba(255, 255, 255, 0.87) !important;
  margin-bottom: 1em;
}

.EditDeadUnitForm {
  width: 20em;
  height: auto;
  z-index: 2;
  position: fixed;
  background-color: #343434;
  left: 40%;
  right: 0;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  padding-bottom: 2em;
}

.card-title {
  color: #30d158  !important;
  font-size: 1em
}

.card-text {
  font-size: 0.8em
}

.chart {
  position: relative;
  width: 100% !important;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.chart--temperature, .chart--wetness, .chart--nhthree, .chart--htwos, .chart--cotwo {
  width: 40em;
  height: auto;
  margin-top: 2em !important;
  margin-left: 1em;
  margin-right: 1em;
  margin: 0 auto;
  background-color: #424242;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0;
}

.chart--temperature {
  order: 1
}

.chart--wetness {
  order: 2
}

.chart--nhthree {
  order: 3
}

.chart--htwos {
  order: 4
}

.chart--cotwo {
  order: 5
}

.exam {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.exam--transparent {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #212121a9;
  z-index: 25;
}

.exam--container {
  position: absolute;
  background-color: #1b1b1b;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  z-index: 30;
}

.exam--container > h1 {
  margin-top: 2vh;
  color: rgba(255, 255, 255, 0.87)
}

.exam--container > button {
  position: absolute;
  right: 0;
  top: 0;
  width: 5%;
  height: 3em !important;
  color: #ffffff;
  background-color: #1b1b1b !important;
  border: none;
  outline: none;
}

.exam--container > button:hover {
  background-color: #1b1b1b !important;
}

.exam--container--cards {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.exam--container--cards-data {
  text-align: left;
  align-self: auto;
  background-color: #424242;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.6);
  transition: 100ms;
}

.exam--result-card-small {
  width: 14vw;
  height: 16vh;
}

.exam--result-card-wide {
  width: 14vw;
  height: 16vh;
}

.hide-selection:hover {
  background-color: #202020 !important;
}

input, label {
  display: block;
}

.list-group-item {
  background-color: #424242;
}

.list-group-item:hover {
  background-color: #1b1b1b !important;
  color: rgba(255, 255, 255, 0.87) !important;
}

.list-header {
  text-align: left;
  padding-left: 0.5em;
}

.penSelect {
  margin-top: 10px;
  margin-right: 2px;
}

#pens {
  background-color: #343434;
  color: rgba(255, 255, 255, 0.87);
}

#sold-dead--selection, #sold-dead--price-input {
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
  position: relative;
  margin-top: 1em;
}

.chart--forageqty {
  background-color: #424242;
  border-radius: .3em;
  width: 49%;
  margin-top: 1em !important;
  margin-left: 1%;
}


.edit-input {
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
  position: relative;
  color: #019199;
  
  margin-top: 1em;
}

.edit--buttons-container {
  position: relative;
}

.TableContent {
  z-index: 0;
  background-color: transparent !important;
  padding: 1em
}

.table td {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color:  #424242 !important;
  color: rgba(255, 255, 255, 0.8);
}

.table th {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color:  #424242!important;
  color: rgba(255, 255, 255, 0.87);
}

.table-dark td,
.table-dark th {
  border: none;
  border-bottom: 1px solid #6d6d6d;
}

.table-dark thead th {
  border: none;
  border-bottom: 2px solid #6d6d6d;
}

.table-dark tr:hover {
  background-color: #000000;
}

.UnitsContainer {
  top: 6%;
  width: 88%;
  height: 90%;
  position: absolute;
  right: 1%;
  transform: translate(0%, 0%);
  margin: auto;
  outline: none
}

.UnitsTable {
  padding-top: 0em;
  padding-bottom: 0em;
  margin: 0 auto;
  margin-bottom: 1em !important;
  margin-top: 3em !important;
  background-color: #424242;
  width: 100%;
  transition-duration: 0.5s;
  border-radius: 0.25em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  font-size: 1em;
}
