body {
  background-color: #cfd8dc;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#arrow-standard:hover {
  color: #1a237e
}

figcaption {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.button--delete-global {
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  outline: none;
}

.button--edit-global {
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  outline: none;
}

.chartjs-render-monitor {
  margin-top: 5em;
  
}

.date-picker > input {
  text-align: center;
}

.deleted-unit-info {
  color: rgb(230, 59, 59);
}

.edit-icon {
  width: 2em;
  height: 2em;
  margin-top: 1em;
  color: #292930 !important
}

.EditDeadUnitForm {
  width: 20em;
  height: auto;
  z-index: 2;
  position: fixed;
  background-color: #343434;
  left: 40%;
  right: 0;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  padding-bottom: 2em;
}

.card-title {
  color: #000000 !important;
  font-size: 1em
}

.card-text {
  font-size: 0.8em
}

.chart {
  position: relative;
  width: 100% !important;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5em
}

.chart--temperature, .chart--wetness, .chart--nhthree, .chart--htwos, .chart--cotwo {
  width: 40em;
  height: 26em;
  margin-top: 2em !important;
  margin-left: 1em;
  margin-right: 1em;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
}

.chart--temperature {
  order: 1
}

.chart--wetness {
  order: 2
}

.chart--nhthree {
  order: 3
}

.chart--htwos {
  order: 4
}

.chart--cotwo {
  order: 5
}

.exam {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.exam--transparent {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #212121a9;
  z-index: 25;
}

.exam--container {
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  z-index: 30;
}

.exam--container > h1 {
  margin-top: 2vh;
  color: white
}

.exam--container > button {
  position: absolute;
  right: 0;
  top: 0;
  width: 5%;
  height: 3em !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  color: white;
  background-color: #651fff !important;
  border: none;
  outline: none;
}

.exam--container > button:hover {
  background-color: #6200ea !important;
}

.exam--container--cards {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.exam--container--cards-data {
  text-align: left;
  align-self: auto;
  background-color: #B39DDB;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  color: #000000;
  transition: 100ms;
}

.exam--result-card-small {
  width: 14vw;
  height: 16vh;
}

.exam--result-card-wide {
  width: 14vw;
  height: 16vh;
}

.hide-selection:hover {
  background-color: #202020 !important;
}

input, label {
  display: block;
}

.list-group-item {
  background-color: #29434e;
  color: #ffffff;
}

.list-group-item:hover {
  background-color: #37474f !important;
  color: #eeeeee !important;
}

.list-group-item.active {
  background-color: #455a64 !important;
  border: none !important;
  color: #ffffff !important
}

.list-header {
  text-align: left;
  padding-left: 0.5em;
}

.penSelect {
  margin-top: 10px;
  margin-right: 2px;
}

#pens {
  background-color: #343434;
  color: #eeeeee;
}

#sold-dead--selection, #sold-dead--price-input {
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
  position: relative;
  font-style: italic;
  margin-top: 1em;
}

.edit-input {
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
  position: relative;
  color: #019199;
  font-style: italic;
  margin-top: 1em;
}

.edit--buttons-container {
  position: relative;
}

.TableContent {
  background-color: transparent !important;
  padding: 1em
}

.table td {
  width: 25em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #696969 !important;
}

.table th {
  width: 25em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #292930 !important;
}

.table td {
  background-color: #ffffff !important;
  color: #212121;
}

.table th {
  background-color:  #ffffff !important;
  color: #000000;
}

.table-dark td,
.table-dark th {
  border: none;
  border-bottom: 2px solid #e0e0e0;
}

.table-dark thead th {
  border: none;
  border-bottom: 3px solid #d8d8d8;
}

.table-dark tr:hover {
  background-color: #000000;
}

.UnitsContainer {
  top: 8%;
  width: 88%;
  height: 90%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: auto;
}

.UnitsTable {
  padding-top: 0em;
  padding-bottom: 0em;
  margin: 0 auto;
  margin-bottom: 1em !important;
  margin-top: 1em !important;
  background-color: #ffffff;
  width: 80%;
  transition-duration: 0.5s;
  border-radius: 0.25em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  font-size: 1em;
}
