body {
  background-color: rgb(231, 229, 229);
  font-family: 'Ubuntu', sans-serif;
}

.addBtn {
  margin-left: 2px;
}

.AddUnitForm {
  background-color: rgb(231, 229, 229);
  position: absolute;
  width: 20em;
  height: 24em;
  left: 0;
  right: 0;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.App {
  text-align: center;
}

.bar-icon {
  height: 1.5em;
  margin-right: 0.5em;
}

.btnContainer {
  position: relative;
  height: 100%;
}

.btnContainer > button {
  width: 80%;
  margin-top: 0.5em;
}

.date-picker {
  width: 100%;
  text-align: center;
}

.DeleteButton {
  position: absolute;
  right: 0px;
  width: 100%;
  margin-top: 0.5em;
}

.deleted-unit-info {
  color: red;
}

.edit-icon {
  width: 2em;
  height: 2em;
  margin-top: 1em;
}

.form-control {
  text-align: center;
}

.hide-selection {
  width: 100%;
  background-color: #292b2c;
  margin-right: auto;
  right: 0;
  border-radius: 0;
}

.LeftBar {
  width: 20%;
  height: 100%;
  position: fixed;
  background-color: #121212;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Ubuntu', sans-serif;
}

.list-header {
  text-align: left;
  padding-left: 0.5em;
}

.list-container > a {
  justify-content: left;
  display: flex;
  outline: 0;
}

.penSelect {
  margin-top: 10px;
  margin-right: 2px;
}

.Selection {
  width: 20em;
  height: 22.5em;
  z-index: 2;
  position: fixed;
  background-color: rgb(231, 229, 229);
  left: 0;
  right: 0;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.Selection > h4 {
  top: 20%;
  margin-top: 1em;
}

.table td, .table th {
  width: 25em;
  font-family: 'Ubuntu', sans-serif;
}

.UnitsContainer {
  width: 80%;
  position: absolute;
  left: 20%;
  margin: auto;
}

.UnitsTable {
  padding-top: 1em;
  padding-bottom: 1em;
  color: #263238;
  margin: 0 auto;
  margin-bottom: 1em !important;
  margin-top: 1em !important;
  background-color: #121212;
  width: 80%;
  border: 0.1em solid #26323800;
  transition-duration: 0.5s;
  border-radius: 0.25em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  font-family: "Lato";
  font-size: 1em;
}

.UnitsTable > button {
  width: 100%;
  border-radius: 0px;
  height: 3em;
}
